.btn-primary {
    background-color: #1e99f6;
    border-color: #1e99f6;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #1468a8;
    border-color: #1468a8;
}
.btn-secondary {
    background-color: #88949f;
    border-color: #88949f;
}